/* Page Layout */
$page-max-width: 1440px;

/* Color Variables */

$color-white: #FFFFFF;
$color-grey: #57656B;
$color-black: #051922;
$color-green: #7EFF01;
$color-page-bg: #051922;
$color-card: #0B2E3D;

/* Font variables */

// -- Font Size --
$font-size-title: 60px;
$font-size-semititle: 33px;
$font-size-text: 18px;
$font-size-info: 14px;

// -- Font Weight --
$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-normal: 500;
$font-weight-light: 400;

// -- Font Line Height --
$line-high-title: 72px;
$line-high-text: 33px;
$line-high-info: 24px;
